@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
    /* 主题色 */
    --color-background: #fdfdfd;
    --color-foreground: #000000;
    /* 主要颜色 */
    --color-primary: #00c75d;
    --color-secondary: #7b7e87;
    /* 辅助色 */
    --color-green2: #02BC59;
    --color-purple2: #9267F4;
    --color-pink: #FDF1E5;
    --color-red2: #ff6655;
    /* 功能色 */
    --color-muted: #2a2a28;
    --color-accent: #2a2a28;
    --color-destructive: #FA5;
    --color-border: #2a2a28;
    --color-input: #2a2a28;
    --color-ring: #9267F4;
    /* 保留一些默认颜色 */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-transparent: transparent;
    --color-current: currentColor;
    /* 边框半径 */
    --radius-lg: 0.5rem;
    --radius-md: 0.375rem;
    --radius-sm: 0.25rem;
}

body,
html {
    background: var(--color-background);
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
}

b,
strong,
.font-bold {
    font-weight: 600;
}

input,
textarea,
button,
* {
    outline: none;
}

.container {
    width: 100%;
    padding: 30px 15px;
    @screen md {
        width: 1440px !important;
        margin: 0 auto !important;
        padding: 40px 0;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.progress-bar {
    .progress-milestone {
        position: relative;
        padding-top: 10px;
        margin-top: -8px;
        &::after {
            content: '';
            position: absolute;
            height: 10px;
            width: 1px;
            background: black;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    >div:first-child {
        .progress-milestone {
            &::after {
                left: 1px;
            }
        }
    }
    >div:last-child {
        .progress-milestone {
            &::after {
                left: auto;
                right: 0;
            }
        }
    }
}

div[role="alert"] {
    @apply flex flex-col gap-2;
    @screen md {
        @apply flex border flex-row;
    }
}